<div class="container mtop">
  <h3 class="text-center" *ngIf="motcService.BusN1EstimateTimesRight.length > 0">
    {{motcService.BusN1EstimateTimesRight[0].RouteName.Zh_tw}}
  </h3>
  <mat-tab-group mat-stretch-tabs *ngIf="motcService.BusN1EstimateTimesRight.length > 0">
    <mat-tab [label]="motcService.BusN1EstimateTimesRightTab">
      <button mat-raised-button color="primary" class="btn-block" (click)="scroll()">前往可搭班車</button>
      <mat-list>
        <ng-container *ngFor="let BusN1EstimateTime of motcService.BusN1EstimateTimesRight">
          <!--  14:03 樹人醫專(部分班次延駛)  -->
          <mat-list-item [ngClass]="{'grey': BusN1EstimateTime.StopStatus !== 0,
            'primary':BusN1EstimateTime.StopName.Zh_tw.indexOf('樹人醫專')!= -1,
            'yetBus': BusN1EstimateTime.StopStatus == 0 }">
            <h4 mat-line >
              <span>
                {{BusN1EstimateTime.NextBusTime | date:'HH:mm'}}
                {{BusN1EstimateTime.StopName.Zh_tw}}
              </span>
              <span *ngIf="BusN1EstimateTime.StopStatus !== 0">
                {{StopStatus[BusN1EstimateTime.StopStatus]}}
              </span>
              <img *ngIf="BusN1EstimateTime.Estimates !== undefined"
                src="https://image.flaticon.com/icons/svg/543/543885.svg" width="40" class="busIcon">
              <span class="right" *ngIf="BusN1EstimateTime.Estimates !== undefined">
                預計{{BusN1EstimateTime.Estimates[0].EstimateTime / 60}}分鐘
              </span>
            </h4>
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-list>
    </mat-tab>
    <mat-tab [label]="motcService.BusN1EstimateTimesLeftTab">
      <button mat-raised-button color="primary" class="btn-block" (click)="scroll()">前往可搭班車</button>
      <mat-list>
        <ng-container *ngFor="let BusN1EstimateTime of motcService.BusN1EstimateTimesLeft">
          <mat-list-item [ngClass]="{'grey': BusN1EstimateTime.StopStatus !== 0,
            'primary':BusN1EstimateTime.StopName.Zh_tw.indexOf('樹人醫專')!= -1,
            'yetBus': BusN1EstimateTime.StopStatus == 0 }">
            <h4 mat-line >
              <span>
                {{BusN1EstimateTime.NextBusTime | date:'HH:mm'}}
                {{BusN1EstimateTime.StopName.Zh_tw}}
              </span>
              <span *ngIf="BusN1EstimateTime.StopStatus !== 0">
                {{StopStatus[BusN1EstimateTime.StopStatus]}}
              </span>
              <img *ngIf="BusN1EstimateTime.Estimates !== undefined"
                src="https://image.flaticon.com/icons/svg/543/543885.svg" width="40" class="busIcon">
              <span class="right" *ngIf="BusN1EstimateTime.Estimates !== undefined">
                預計{{BusN1EstimateTime.Estimates[0].EstimateTime / 60}}分鐘
              </span>
            </h4>
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</div>
<br>
